body {
  font: 16px "Trebuchet MS", Helvetica, sans-serif;
}

#wrapperDiv {
  width: 100%;
  height: auto;
}

#allButtonsDiv {
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.controlBtns {
  font-size: 14px;
  color: white;
  background-color: black;
  margin-right: 16px;
  width: 70px;
  height: 25px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.controlBtns:hover{
  cursor: pointer;
}

#newBtn {
  margin-right: 64px;
}

#updateBtn {
  visibility: hidden;
}

#delBtn {
  visibility: hidden;
}

#allNotesDiv {
  width: 100%;
}

.noteDiv {
  margin-bottom: 25px;
}

.checkBoxDiv {
  width: 35px;
  float: left;
}

.noteText {
  margin-left: 35px;
}

.noteText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.noteTextSelected {
  text-decoration: underline;
}
