body {
  font: 16px "Trebuchet MS", Helvetica, sans-serif;
}

#wrapperDiv {
  width: 100%;
  height: auto;
}

#allButtonsDiv {
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#allButtonsDiv button {
  font-size: 14px;
  color: white;
  background-color: black;
  margin-right: 16px;
  width: 70px;
  height: 25px;
  border: none;
  text-align: center;
  text-decoration: none;
}

#allButtonsDiv button:hover{
  cursor: pointer;
}

button.newBtn {
  background-color: red;
}

#allNotesDiv {
  width: 100%;
}

.noteDiv {
  margin-bottom: 25px;
}

.checkBoxDiv {
  width: 35px;
  float: left;
}

.noteText {
  margin-left: 35px;
}

.noteText:hover {
  cursor: pointer;
  /*border: 1px solid black;*/
  text-decoration: underline;
}


/*
 git test - zadnja promjena
*/
