body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  background: #ddd;
}

#notesWrapperDiv {
  margin-top: 1em;
  margin-bottom: 2em;
  display: inline-block;
  border-bottom: 2px solid gray;
  /*-moz-box-shadow: 6px 6px 6px #333;
  -webkit-box-shadow: 6px 6px 6px #333;
  box-shadow: 6px 6px 6px #333;*/
  width: 100%;
  display: none;
}

.note {
  padding: 0.75em;
  background: white;
  border-top: 1px solid gray;
  cursor: pointer;
}

/* The Overlay (background) */
 
.overlay { 
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  height: 70%;
}
    
.overlay-content-background {
  color: black;
  background: white;
  margin: 0 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  text-align: left;
  position: relative;
  padding: 0 1em;
  padding-top: 1em;
}

#newNoteTextArea {
  width: 100%;
  margin: 0; padding: 0.2em;
  height: 10em;
  border: none;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  resize: none;
}

.overlay-controls {
  height: 3em;
  margin-top: 1em;
}

.closeBtnWrapperDiv {
  width: 33%;
  height: 3em;
  float: left;
}

.closebtn {
  font-size: 2.5em;
  color: black;
  cursor: pointer;
  color: black;
  width: 0.5em;
}

.checkmarkWrapperDiv {
  width: 33%;
  height: 3em;
  float: left;
}

.checkmark {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  border: solid black;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 0.8em;
  margin-right: 50%;
  margin-left: 50%;
  float: right;
  cursor: pointer;
}

.deleteIconWrapperDiv {
  width: 33%;
  height: 3em;
  float: left;
  text-align: right;
}

.deleteIcon {
  cursor: pointer;
  margin-top: 0.5em;
}

/* ------------------- */


.circle {
  width: 50px;
  height: 50px;
  background: #ffaa00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /*-webkit-box-shadow: 6px 6px 8px #333;
  -moz-box-shadow: 6px 6px 8px #333;
  box-shadow: 6px 6px 8px #333;*/
  position: fixed;
  bottom: 16px; 
  right: 16px;
  cursor: pointer;
}

.cross {
  background: white; 
  height: 16px; 
  width: 4px; 
  position: relative; 
  /*top: 0px; 
  left: 25px; */
} 

.cross:after { 
  background: white; 
  content: ""; 
  height: 4px; 
  width: 16px; 
  position: absolute; 
  top: 6px; 
  left: -6px;
}


/* Desktop browser, min width: 1200 */

@media screen and (min-width: 1200px) {

  #wrapperDiv {
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .overlay-content { 
    width: 55%; 
    margin-left: auto; 
    margin-right: auto; 
  }

}

