body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  background: #ddd;
}

#notesWrapperDiv {
  margin-top: 0.333em;
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
  display: none;
}

.note {
  padding: 0.75em;
  background: white;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 0.3em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */ 
  white-space: pre-wrap; /* current browsers */
}

.openOverlay {
  width: 50px;
  height: 50px;
  background: #ffaa00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 1em; 
  right: 1em;
  cursor: pointer;  
  display: table;
  text-align: center;
}

.openOverlay > i {
  display: table-cell;
  vertical-align: middle;  
  color: #fff;
}

.my_fa_icon {
  font-size: 1.5em;
  cursor: pointer;
}


/* New Note Overlay */
 
.overlay1 {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  overflow-y: hidden;
  transition: 0.5s;
}
    
.overlayContent1 {
  top: 10%;
  color: black;
  background: white;
  margin: 0 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  text-align: left;
  position: relative;
  padding: 0 1em;
  padding-top: 1em;
  
  background-color: green;
}

#newNoteTextArea {
  width: 100%;
  margin: 0; padding: 0.2em;
  height: 10em;
  border: none;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  resize: none;
}

.overlayControls {
  height: 2em;
  margin-top: 1em;
}

.controlButton {
  float: left;
  width: 50%;
}

.addNoteButton {
  text-align: right;
}

.deleteNoteButton {
  display: none;
  text-align: right;
}






/* Settings overlay */

#openSettingsOverlay {
  left: 16px;
}

.settingsNav {
  text-decoration: none;
  margin-right: 1em;
}

#debugSection {
  background-color: yellow;
  margin-top: 1em;
}

#debugControls {
  margin-bottom: 1em;
}

#debugMessages {
  overflow-y: auto;
  word-wrap: break-word;
  height: 20em;
}





/* Desktop browser, min width: 1200 */

@media screen and (min-width: 1200px) {

  #wrapperDiv {
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .overlayContent1 { 
    width: 55%; 
    margin-left: auto; 
    margin-right: auto; 
  }

}

