body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  background: #ddd;
}

#wrapperDiv {
  width: 100%;
  height: auto;
}

#notesWrapperDiv {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid gray;
  -moz-box-shadow: 6px 6px 8px #333;
  -webkit-box-shadow: 6px 6px 8px #333;
  box-shadow: 6px 6px 8px #333;
}

.note {
  width: 100%;
  padding: 12px;
  background: white;
  border-top: 1px solid gray;
}





.circle {
	width: 100px;
	height: 100px;
	background: #ffaa00;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  -webkit-box-shadow: 6px 6px 8px #333;
  -moz-box-shadow: 6px 6px 8px #333;
  box-shadow: 6px 6px 8px #333;
  position: fixed;
  bottom: 16px; 
  right: 16px;
  cursor: pointer;
}

.cross { background: white; height: 32px; width: 6px; position: relative; top: 34px; left: 47px; } 
.cross:after { background: white; content: ""; height: 6px; width: 32px; position: absolute; top: 13px; left: -13px; }






/* css for menu button */

.menu {
  cursor: pointer;
  float: right;
  margin-right: 35px;
}

.square {
  width: 25px;
  background: black;
  padding: 2px;
}

.line {
  width: 19px;
  height: 3px;
  background: white;
  margin: 3px;
}

/* ------------------- */





 /* The Overlay (background) */
 
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    
    color: black;
    background: white;
}

.overlay-content-title {
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid gray;
  font-size: 1em;
}

#newNoteTextArea {
  width: 85%;
  border: 0;
  font: 1em "Trebuchet MS", Helvetica, sans-serif;
  resize: none;
  overflow: hidden;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0.3em;
    right: 0.8em;
    font-size: 2.5em;
    color: white;
}

.overlay a {
  text-decoration: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    /*.overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }*/
}

/* ------------------- */

