body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#output01 { 
  font: 12px "Lucida Console", monospace;
  margin: 1em;
  word-wrap: break-word;
}

#buttonsDiv {
  width: 100%;
  margin: 1em;
}

button {
  font-size: 0.75em;
  margin-bottom: 1em;
}


@media all and (max-width: 1000px) {
  button {
    font-size: 3em;
    margin-right: 0.4em;
  }
  
  #output01 {
    font-size: 2em;
  }
}
